@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .navbar-nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-sec2-r .navbar-section .navbar-nav li {
    font-size: 14px;
  }
  .banner-contents{
    left: 5%;
  }
  .az-find h3 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .h1-left p {
    font-size: 14px;
  }
  .az-smi span {
    font-size: 16px;
    margin: 5px;
  }
  .az-smi .smi-fb {
    padding: 5px 12px;
  }
  .az-smi .smi-tw {
    padding: 5px 9px;
  }
  .az-smi .smi-insta {
    padding: 5px 10px;
  }
  .az-smi .smi-li {
    padding: 5px 10px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
  }
  .banner-contents {
    top: 20%;
    left: 4%;
  }
  .header-sec2-r .navbar-section {
    margin-top: 15px;
  }
  .header-sec2-r .navbar-section .navbar-nav li {
    padding: 0px 5px;
    font-size: 9px;
  }
  .nav1{
    padding-top: 10px;
  }
  .banner-contents h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .banner-contents h1 span{
    font-size: 36px;
  }
  .az-find h3 {
    font-size: 28px;
  }
  .featured-imgs img:nth-child(3){
    padding: 20px 40px;
  }
  .featured-imgs img:nth-child(2){
    padding: 5px;
  }
  .featured-imgs img:nth-child(4){
    padding: 15px;
  }
  .az-faqs h2 {
    font-size: 40px;
  }
  .az-featured h3 {
    font-size: 24px;
  }
  .az-testi h3 {
    font-size: 24px;
  }
  .top-footer ul li{
    font-size: 14px;
  }
  .table-responsive-sm{
    overflow: scroll;
  }
}

@media only screen and (max-width: 767px) {
  .header-sec1 {
    padding: 3% 0%;
  }
  .h1-left p {
    margin-bottom: 10px;
  }
  .az-smi .smi-fb {
    padding: 5px 12px;
  }
  .az-smi .smi-tw {
    padding: 5px 9px;
  }
  .az-smi .smi-insta {
    padding: 5px 10px;
  }
  .az-smi .smi-li {
    padding: 5px 10px;
  }
  .header-sec2-l {
    margin-top: -12%;
    margin-left: 0%;
  }
  .header-sec2-l a {
    font-size: 30px;
    color: white;
  }
  .navbar-toggler {
    padding: 0.25rem 0rem;
  }
  .header-sec2-r .navbar-section {
    margin-top: 5px;
    place-content: unset;
    display: inline;
  }
  .header-sec2-l img {
    width: 15%;
    padding: 0px;
    margin-left: 0px;
  }
  .registration-button {
    position: absolute;
    right: 0px;
    top: 12px;
  }

  .sticky {
    display: none;
  }
  .h1-left {
    text-align: right;
  }
  .h1-right img {
    width: 20px;
    height: 20px;
  }
  .nav1 {
    padding: 0px;
    padding-top: 8px;
    padding-left: 0px;
  }
  .navbar-toggler-icon {
    color: #80bf1f;
  }
  .banner-contents img {
    width: 12% !important;
    margin-bottom: 2%;
  }
  .banner-contents h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .banner-contents h1 span {
    font-size: 20px;
  }
  .banner-contents {
    top: 10%;
    left: 3%;
  }
  .az-searchbar {
    top: 64%;
    left: 4%;
  }
  .az-searchbar input {
    padding: 2px 5px;
    width: 40%;
  }
  .az-searchbar button {
    padding: 2px 8px;
    background: #000000;
    color: #e3e2e2;
}
  .az-about:nth-child(2n + 1) .row .col-xl-6:first-child {
    order: unset;
  }
  .az-find h3 {
    font-size: 22px;
  }
  .az-find button {
    margin-left: 5px;
    padding: 0px 25px;
    font-size: 14px;
  }
  .az-faqs h2 {
    font-size: 40px;
  }
  .az-featured {
    text-align: unset;
  }
  .az-featured h3 {
    font-size: 26px;
    text-align: center;
  }
  .featured-imgs img:nth-child(1) {
    width: 40%;
    margin: 10px;
    padding: 15px;
  }
  .featured-imgs img:nth-child(2) {
    width: 40%;
    margin: 10px;
    padding: 10px;
  }
  .featured-imgs img:nth-child(3) {
    width: 40%;
    margin: 15px;
    padding: 10px 30px;
  }
  .featured-imgs img:nth-child(4) {
    width: 40%;
    margin: 10px;
    padding: 20px;
  }
  .az-testi h3 {
    font-size: 26px;
    line-height: 45px;
  }
  .az-about h2{
    font-size: 36px;
  }
  .login, .go-to-reglog {
    width: 100%;
  }
  .register-create {
    margin: 0% 0%;
  }
  .az-about-body {
    padding: 0% 0%;
}
.az-about-body .row:nth-child(3) h4, .az-about-body .row:nth-child(4) h4{
  margin-top: 1%;
}
.az-about-body .row:nth-child(3) .col-xl-6:first-child{
  order: 0;
}
.az-our-team-body .row:nth-child(2n+1) .col-xl-4{
  order: 0;
}
.az-fat-banner h1{
  font-size: 24px;
  margin-bottom: 5px;
}
.az-fat-banner p{
  display: none;
}
.az-fat-banner .fat-rating span{
  font-size: 16px;
}
.az-fat-banner .fat-rating h6{
  font-size: 16px;
}
.az-filters {
  display: grid;
}
.az-fat-tutors .row .row .col-xl-3{
  text-align: center;
}
.az-fat-tutor-bio h3, .az-fat-tutor-bio h6, .az-fat-tutor-descr h6{
  text-align: center;
}
.az-fat-tutors-button{
  text-align: center;
}
.az-fat-tutors{
  padding: 8% 0%;
}
.profile-wrapper .row .col-xl-3{
  text-align: center;
}
.profile-heading h3, .profile-heading h5{
  text-align: center;
}
.hiw-sec2 .row:nth-child(2) .col-xl-6:first-child{
  order: 0;
}
.az-bat-sec2 .row:nth-child(2n+1) .col-xl-6:first-child{
  order: 0;
}
#form-id{
  width:100%;
  margin:10px auto;
}
#form-id fieldset{
  padding: 20px 5px;
}
}

@media only screen and (max-width: 391px) {
  .header-sec2-l {
    margin-top: -14%;
  }
  .header-sec2-l img {
    width: 24%;
    padding: 12px;
  }

}
@media only screen and (max-width: 331px) {
  .h1-left p {
    font-size: 13px;
    color: white;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .az-find {
    padding: 3% 0%;
  }
  .az-find h3 {
    font-size: 16px;
}
  .top-footer ul {
    padding-left: 10px;
  }
  .header-sec2-l {
    margin-top: -14%;
  }
  .featured-imgs img:nth-child(3){
    margin: 10px;
  }
  .az-about h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 291px){
  .header-sec2-l img {
    width: 30%;
  }
  .header-sec2-l {
    margin-top: -32%;
}
}